body {
  font-family: 'Roboto', sans-serif;
  min-width: 300px;
}

.logo {
  height: 2em;
}

#intro {
  background-image: url(../img/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: top;
}

.card {
  border-radius: 4px;
}

#inner-intro {
  background-color: rgba(48, 48, 48, 0.75);
  border-radius: 4px;
}

.service-header {
  color: #ad5600;
}

@media (max-width: 500px) {
  #intro {
    background-image: url(../img/background-port.jpg);
  }
}
